/*!
 * Start Bootstrap - One Page Wonder v5.0.6 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Dancing Script', cursive; */

h1.funky {
  font-family: 'Kaushan Script', cursive;
  font-weight:600;
  font-size: 5vw;
}

h2.funky {
  font-family: 'Kaushan Script', cursive;
  font-weight:600;
  font-size: 300%;
}




h2.funky {
  font-family: 'Kaushan Script', cursive;
  font-weight: 100;
  font-size: 2rem;
}


h1.big {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 7vw;
}

h2.big {
  font-family: 'Montserrat', sans-serif;
  font-weight : 700 ;
  font-size   : 2rem;
}

h3.big {
  font-family: 'Montserrat', sans-serif;
  font-weight : 500 ;
  font-size   : 4rem;
}

div.nextToEachOther {
  display: inline-block;
  border-left: 2px solid white;
  padding-left:  2rem;
  padding-right: 2rem;
}

hr.hidden {
  width: 0%;
  padding-bottom: 1rem;
}







/* Container holding the image and the text */
.pic-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left { /* ipdaden */
  position: absolute;
  top: 20vw;;
  left: 30%;
  max-width : 40%;
  max-height: 40%;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-center-header {
  padding-top: 1rem;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate
  (-50%, -50%);
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right { /* TELEONFNE */
  position: absolute;
  top: 300px;
  right: 220px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}














hr.orange {
  border-top: 6px solid orange;
  width: 5%;
  padding-top: 2rem;
}

p.grey {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  width: 60%;
}


hr.thin {
  border-top: 1px solid rgb(255, 0, 0);
  width: 80%;
}



.img-responsive.img-spacing {
  width: 1rem;
  height: 1rem;

}


.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}





blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 400px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }
  
  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
  }
  
  blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
   
  blockquote cite:before {
  content: "\2014 \2009";
  }



















.accordion {
  
  background-color: white;
  
  color: #444;
  cursor: pointer;
  padding: 1vw;
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-style: ridge;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}




.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

a.nav-link:hover {
  color: white;
  padding-top : 20px;
  border-bottom: 5px solid;
}

.blog-clickbait {
  padding-left: 50px;
}


.blog-image {
  max-width: 90%;
  /* padding-right: px; */
}


#backdrop{
    /* border:2px solid red; */
    width:400px;
    height:200px;
    position:absolute;
  }
  
  #curtain {
    border:10px solid #94E0D3;
    margin-top: 100px;
    width:80px;
    background-color: #94E0D3;
     height:150px;
      position:absolute;
  }
  
  





.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
